@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
/*
  Нормализация блочной модели
*/
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}


:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}



img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}


input,
textarea,
select,
button {
  font: inherit;
}




a:where([class]) {
  display: inline-flex;
}


button,
label {
  cursor: pointer;
}


button {
  -webkit-tap-highlight-color: transparent;
}


:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root{
    --color-dark: #000000;
    --color-light: #FFFFFF;

    --container-width: 1400px;
    --container-padding-x: 15px;

    --transition-duration: 0.2s;
}

*{
  font-family: "Urbanist", sans-serif;
  color: #FFFFFF;
  box-sizing: border-box;
  text-decoration: none;
}



body{
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #191919;
  padding-inline: 9vw;
  height: 100px;
  border-bottom: 2px solid #262626;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
}
@media(max-width: 2000px){
  .header{
    background-color: aliceblue;
  }
}
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-menu-list {
  display: flex;
  margin: 0;
}
.header-menu-link{
  padding-inline: 24px;
  padding-block: 14px;
  text-decoration: none;
}
.header-menu-link:hover{
  background: #141414;
  border: 1px solid;
  border-color:#4D4D4D;
  border-radius:15px ;
  padding-inline: 24px;
  padding-block: 14px;
  transition: 0.3s;
  box-shadow: 0 0 0 1px #4D4D4D inset;
    
}

.header-active-button {
  background: #141414;
  border: 1px solid;
  border-color:#4D4D4D;
  border-radius:15px ;
  padding-inline: 24px;
  padding-block: 16px;
  text-decoration: none;
}
.header-active-button:hover{
  background: #FFFFFF;
  color: black;
  border: 1px solid;
  border-color:#4D4D4D;
  border-radius:15px ;
  padding-inline: 24px;
  padding-block: 16px;
  transition-duration: 0.5s;
}





.header-row {
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 9vw;
  background: #191919;
}
.header-row-left {
  padding-right: 80px;
  
}
.header-row-left h1{
  font-size: clamp(2.5rem,3vw,3.75rem);
  margin: 0;
  margin-bottom: 24px;
}
.header-row-left p{
  font-size: clamp(1rem,3vw,1.125rem);
  color: #999999;
  max-width: 750px;
}
.header-row-active{
  padding-top: 60px;
}
.header-row-active1 {
  gap: 20px;
  padding-inline: 24px;
  padding-block: 18px;
  font-size: 18px;
  background-color: #141414;
  border: 1px solid;
  border-color: #4D4D4D;
  border-radius: 15px;
}
.header-row-active2{
  font-size: 18px;
  padding-inline: 24px;
  padding-block: 18px;
  background-color: #703BF7;
  border: 0px solid;
  border-radius: 15px;
}

.header-row-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  padding-right: 80px;
  column-gap: 20px;
}
.header-row-info h2{
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.header-row-info p{
  font-size: 18px;
  color: #999999;
}
.header-info-block1 {
  background: #1A1A1A;
  border: 1px solid;
  border-radius: 10px;
  border-color: #262626 ;
  padding-inline: 24px;
  padding-block: 16px;

}

.header-row-rigth {
  min-width: 690px;
  min-height: 622px;
}







.sub-container {
  background: #141414;
  font-size: clamp(1rem,3vw,1.125rem);
  border: 3px solid;
  border-color: #262626;  
}
.sub-container-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}
.sub-container-block {
  display: grid;
  place-items: center;
  background: #1A1A1A;
  border: 1px solid;
  border-radius: 10px;
  border-color: #262626 ;
  width: 25vw;
  padding-block: 5vh; 
}
.sub-container-block img{
  padding-bottom: 20px;
}




.Featured-Rroperties {
  background: #141414;
  padding-inline: 9vw;
}
.Featured-Rroperties-header {
  padding-top: 150px;
}
.Featured-Rroperties-header h1{
  font-size: clamp(2rem,3vw,3.5rem);
  margin: 0;
  padding-bottom: 15px;
}
.Featured-Rroperties-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 80px;
}
.Featured-Rroperties-button p{
  width: 50vw;
  color: #999999;
  margin: 0;
}
.Featured-Rroperties-button button{
  padding-inline: 24px;
  padding-block: 18px;
  border: 1px solid;
  border-color: #262626;
  border-radius: 10px;
  background-color: #1A1A1A;
}




.house-info {
  background: #141414;
  padding-inline: 9vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 30px;
  padding-bottom: 50px;
}
.house-info-block {
  padding-inline: 40px;
  padding-top: 40px;
  border: 1px solid;
  border-color: #262626;
  border-radius: 15px;
  max-width: 515px;
  min-height: 670px;
}
.house-info-text {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.house-info-text-block {
  display: flex;
  align-items: center;
  border: 1px solid;
  border-color: #262626;
  border-radius: 30px;
  padding-inline: 14px;
  padding-block: 8px;
  background: #1A1A1A;
  gap: 5px;
  white-space: nowrap;
}
.house-info-block p{
  flex-wrap: nowrap;
}
.house-info-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  gap: 50px;

}
.info-botton-text p {
  margin: 0;
}
.info-botton-text h3 {
  margin: 0;
}
.info-button-botton button {
  padding-inline: 55px;
  padding-block: 18px;
  background-color: #703BF7;
  border: 0px solid;
  border-radius: 10px;
  white-space: nowrap;
}





.contact-us-lower {
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  padding-inline: 9vw;
  border-top: 1px solid #262626;
  padding-top: 100px;
}
.lower-logo-section {
  padding-bottom: 30px;
}
.lower-form-input {
  display: flex;
  align-items: center;
  border: 1px solid #262626;
  padding-block:15px ;
  max-width: 400px;
  border-radius: 10px ;
}
.lower-form-input input {
  background-color: #141414;
  border: 0px;
  padding-inline: 10px;
  font-size: 18px;
}
.lower-form-input input:active {
  background-color: #141414;
}
.lower-form-input button {
  background-color: #141414;
  margin-left: 10px;
  border: 0px;
  padding: 0px;
}
.lower-form-input img {
  padding-inline: 24px;
}



.lower-info-section{
  display: flex;
  column-gap: 100px;
  font-size: 18px;
}
.info-header-block{
  padding-bottom: 25px;
}
.info-header-block a{
  color: #999999;
}
.info-block1{
  padding-block: 10px;
}
.info-block1 a:hover{
  color: #703BF7;
}






